@charset "utf-8";

*{margin:0;padding:0;}
.margin{margin:0 auto;width:1200px;}

header{
    height:25px;
    background: #333;
    ul{
        float:right;
        li{
            float:left;
            color:#e5e5e5;
            font:12px/25px "";
            a{
                display:block;
                 color:#e5e5e5;
             }
            
            }
          }
      
    #header-r li{
        width:82px;
        text-align: center;
        background:url(../img/xiasanjiao.png) no-repeat right;
            &:first-child{
               background:none;
                }   
        .menu1{
            z-index: 10;
            width:82px;
            height:75px;
            text-align:center;
            background: #fff;
            a{
              color:#333;  
            }   
        }
        .menu2{
            z-index: 10;
            width:82px;
            height:100px;
            text-align:center;
            background: #fff;
            a{
              color:#333;  
            }   
        }    
        .menu3{
            z-index: 10;
            width:286px;
            height:170px;            
            background: #fff;
            .app{
              float:left; 
              margin:20px;  
              p{
                  font-size:12px;
                  color:#999;
              }              
            } 
            .weishangcheng{
              float:left;
              margin:20px 20px 20px 0; 
              p{
                  font-size:12px;
                  color:#999;
              }    
            }  
        }     
        }
           
    .hover:hover{
        color:red;
        }   
    #header-l li{
        margin-right:6px;
        }
    
    }
    
nav{
    height:75px;
    position: relative;
    #logo{
        float:left;
        margin:25px 0 0 5px;
        span{
            vertical-align:bottom;
            margin-top:32px;
            font-size:22px;
            font-weight:700;
            color:#d70c18;
            }
     
        }
    #nav{
        
        float:left;
        margin-left:20px;
        //margin:36px 0 0 30px;
        ul li{
            //position: absolute;
            float:left;
            //margin:0 19px;
            //font:14px "";
            //color:#333;
            margin-top:10px;
            a{               
                display: block;
                padding:0 20px;
                height:65px;
                font:14px/65px "";
                color:#333;
            }
            .xilie{
                display:none;  
                padding-left:40px;             
                position:absolute;
                left:0;
                top:75px;
                width:100%;
                height:190px;
                background:#fcfcfc;
                border-top:1px solid #e6e6e6;
                z-index: 20;               
                .danpin{
                   float:left; 
                   text-align: center;
                   width:190px;
                   height:190px;
                   img{
                       margin-top:20px;
                       width:100px;
                       height:100px;
                   }
                   a{
                      font:12px/28px ""; 
                       
                   }
                   p{                                            
                       color:#333;                       
                   }
                   span{                   
                       color:red;
                   }
                 &:hover p{
                           color:red;
                       }  
                }
                
            }
            
            a:hover{
                color:red;                     
            }
            
        }
        
    }
    #search{
        float:left;
        margin:27px 0 0 136px; 
        input{
           float:left;
           font:12px/30px "宋体";
           border:none;
           height:30px;
           width:252px;
           border-bottom:1px solid #ccc;
           color:#d5cccf;        
          
           }
        a{
          float:left;
          width:26px;
          height:30px;
          background:url(../img/sousuo.png) no-repeat center;             
        }
        
    }
    #gouwuche{
        float:left;
        margin:27px 0 0 40px;
        
        a{  
           display:block;
           width:30px;
           height:30px; 
           background: url(../img/gouwuche.png) no-repeat center;    
        
        }
        
    }
}
section{
    position:relative;
    #box{
        position:relative;
        width:100%;
        height:520px;
    }  
    #aside{
       width:222px;
       height:390px; 
       position:absolute;
       left:32px;
       top:64px;
       border-top:2px solid #000;
       //background:#fff;
       z-index:10;
      
      .te{
                border-top:none;
            }
       ul li{
            opacity: 0.8;
            padding-left:16px;
            height:65px;
            //margin:0 16px;
            border-top:1px solid #dbe7ed;
            
            background:#fff url(../img/youjiantou.png) no-repeat 190px;;
            font:14px/65px "";
            color:#000;
            .first{
              display: block;
              width:222px;  
              height:65px;  
            }
            .aside-r{
                display: none;
                width:970px;
                height:395px;
                border-top:2px solid #000;
                float:left;
                position: absolute;
                left:222px;
                top:-2px;
                z-index:20;
               // opacity:1;
                
                background:#fff;
                
                .r1{
                  float:left;  
                  width:150px;
                  height:350px;
                  margin-left:30px;
                  font:12px/20px "";
                  margin-top:40px;
                  border-right:1px solid #F4F4F4;
                 
                  dl{
                        dt{
                            font:700 12px/32px "";
                            color:#000;
                        }
                        dd{
                            font:12px/24px "";
                            a{
                                
                                color:#333;
                            }
                            span{
                                color:#999;
                               
                            }
                        } 
                  }
                }
                .last{
                    border-right:none;
                }
                .r2{
                    float:right;
                    margin:15px 15px 0 0;
                }
                .right{
                    width:200px;
                    height:360px;
                }
            }
       }
    }
    
}
#main{
    height:700px;
    background:#fafafa;
    .mian-top ul{
        padding-top:6px;
        display:flex;
        justify-content: space-between;
        flex-warp:warp;
        li{
            overflow: hidden;
            position: relative;
            dl{
               text-align: center;
               font:18px/28px "";
               color:#333;
               position: absolute;
               top:20px;
               left:100px;
               dd{
                   font:12px/22px "";
                   color: #444;
               }
                
            }
           &:hover img{
               transition: 2s;
                transform:scale(1.05,1.05);             
            } 
            
        }
        
    }
    .mian-bottom{
        margin-top:33px;
        .title{
            h4{
                float:left;
                font:20px/48px "";
                color:#333;
                text-indent: 1em;
            }
            .next{
            margin-top:15px;
            float:right;
            a{
              display:block;
              float:left;
              width:34px;
              height:22px;
              backround:#fff;
              border:1px solid #e6e6e6;
              text-align:center;
              font:14px/22px "";  
              color: #e6e6e6;
            }
        }
        
        }
        .remai{
           display: flex;
           justify-content: space-between;
           flex-warp:warp; 
           li{
              width:238px;
              height:340px; 
              background:#fff;
              text-align: center;
              position: relative;
              .hotmai{
                  position: absolute;
                  top:-15px;
                  right:5px;
                  
              }
              &:hover img{
                transition: 2s;
                transform:scale(1.05,1.05); 
              
              
              }
              &:hover{
                transition: 2s;
                box-shadow: 5px 5px 5px #D3D3D3; 
              
              }
              
              img{
                  margin:20px 0;
              }
              dl{ 
                  
                  .lijigoumai{
                        display:none;
                        width:80px;
                        height:25px;
                        border:1px solid red;
                        color:red;
                        border-radius: 6px;
                        
                    }                
                  dt{
                      font:16px/28px "";
                      color:#666;                 
                    }
                  dd{
                      color:#aeaeae;
                      font:12px/24px "";                  
                    }
                    .price{
                        font:12px/36px "";
                        color:#8a8a8a;
                        
                        
                    }
                    
                }
           }
           
           
            
        }
        
        
    }
    
}
#hot{
    
   .hot-t{
        width:100%;
        height:500px;
        overflow: hidden;
        position: relative;
        .hot01{
            display: block;
        width:100%;
        height:500px;  
        background: url(../img/hot01.jpg) no-repeat center center;   
            
        }
       &:hover .price1{
           border-bottom: 1px solid darkgray;
       }
    
    .zhineng{
        position:absolute;
        right:50px;
        top:120px;
        dl{ 
            dt{
                font:700 42px/54px "";
                color:#fff; 
            }
            dd{
               font:34px/40px "";
               color:#fff;                 
            }
            .price1{
               font:18px/34px ""; 
               margin-top:60px;
               width:80px;                          
            }
        }
    }
}
    .hot-c{
        margin-top:10px;
        width:100%;
        height:500px;
        overflow: hidden;
        position: relative;
        .hot02{
            display: block;
        width:100%;
        height:500px;  
        background: url(../img/hot02.jpg) no-repeat center center;   
            
        }
        &:hover .price2{
           border-bottom: 1px solid darkgray;
        }
        .huiyuan{
            position:absolute;
            right:70px;
            top:120px;
            dl{ 
                dt{
                    font:700 42px/54px "";
                    color:#fff; 
                }
                dd{
                   font:34px/40px "";
                   color:#fff;                 
                }
                .price2{
                   font:18px/34px ""; 
                   margin-top:60px;
                   width:66px;                          
                }
            }
        }             
    }
    .hot-b-t{
       padding:10px 0; 
       display: flex; 
       justify-content: space-between;
       flex-wrap: wrap;
       .car{
           margin-bottom: 10px;
       }
       li{
           
           width:394px;
           height:501px;
           overflow: hidden;
           text-align:center;
         
            .q{ width:394px;
            height:246px;
            overflow:hidden;
            } 
            div{
                position:relative;
               
                &:hover span{              
                    display: block;
                }
            
                &:hover img{
                        transition: 1s;
                            transform:scale(1.05,1.05);                
                    } 
              dl{
               position: absolute;
               //left:100px;
               top:66px;
               color:#fff;
               width:100%;
               text-align:center;
               dt{
                  font:28px/48px "";
                                     
               }
               dd{
                 font:20px/24px "";                  
               }
               .price3{
                  margin:0 auto;
                  font:14px/24px "";
                  margin-top:26px;
                  border-bottom: 1px solid darkgray; 
                  width:56px;
                  
               }
            }
               span{
                    display: block;
                    display:none;
                    width:46px;
                    height:24px;
                    border:1px solid #999;
                    position:absolute;
                    right:10px;
                    top:5px;
                    text-align:center;
                    font:12px/24px "";
                    color:#e5e5e5;
                }
            }
        }
    }
    .hot-b-b{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
            position:relative;
            width:394px;
            //height:354px;
            overflow: hidden;
            img{
                width:394px;
                height:246px;
                overflow: hidden;
            }
           dl{
               
              height: 110px;
              background: #f4f4f4; 
              text-align: center;
              dt{
                  padding-top:10px;
                  font:20px/50px "";
                  color:#333;
              } 
              dd{
                  font:12px/18px "";
                  color:#999;
              }
           } 
           span{
               display: block;
                    display:none;
                    width:46px;
                    height:24px;
                    border:1px solid #fff;
                    position:absolute;
                    right:10px;
                    top:5px;
                    text-align:center;
                    font:12px/24px "";
                    color:#a4a4a4;
                    
           }
           &:hover img{
                        transition: 1s;
                        transform:scale(1.05,1.05);                
                    } 
           &:hover{
               box-shadow: 5px 5px 5px lightgray; 
               transition: 1s;             
           }
           &:hover span{
               display: block;
           }
        }
    }   
}
#news{
    margin-top:30px;
    //margin:30px 0 0 60px;
    height:270px;
    ul li{ 
        //display: flex;
       // justify-content: space-around;
       // flex-wrap: wrap;
        float:left;
        &:nth-child(1){
            margin-left:60px;
        }
        &:nth-child(2){
            margin:0 130px 0 94px;
        }
        dl{ 
            color:#333;  
            dt{
                font:18px/74px "";
               &:hover a{
                    color:red;
                }    
            }
            dd{
                
                font:12px/30px "";
                &:hover a{
                    color:red;
                }
            }
        
        }
        .our dd{
            float:left;
            margin:0 30px;
            text-align: center;
        }
    }
    
}
#baozhang{
        height:80px;
        background:#f5f5f5;
       ul{
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap; 
          li{
              
              margin-top: 20px;
              span{
                  font:16px/40px "";
                  color:#666;
                  margin-left:16px;
              }
          } 
           
       } 
    }
footer{
    height:370px;
    background: #191919;
    ul{
      padding-top:30px; 
      font:12px/22px "";
      color:#c4c2c2; 
      li{
         &:nth-child(1){
            padding-left:10px; 
             
         }
         float:left;
         margin:0 54px;
         dl dd{
            color:#787878; 
            &:hover a{
                
                color:red;
            } 
         } 
          
      } 
      .tel{          
          margin:20px 0 0 126px;
          b{
            font-size:22px;
            color:#f05353; 
            margin-left:14px;              
          }
          p{
              font:12px/44px "";
              color:#888;
              margin-left:30px;
          }
          a{
            display:block;
            width:156px;
            height:32px;
            border:1px solid #575756;  
            text-align: center;
            background: #2d2c2d; 
            color:#e0e0e0;
            font:12px/32px "";
            &:hover{
                background:#575756;
                
            }
          }
      } 
    }
    
    
    .friend{
        margin:52px 0 0 62px;
        font:12px/28px "";
        h4 a{
            color:#c4c2c2;
        }
        a{
          color:#787878; 
          margin:0 4px; 
          &:hover{
              color:red;
          }
        }
    }
    .end{
        margin-left:60px;
        border-top:1px solid #373737;
        font:12px/40px "";
        color:#999;
        img{
            margin-right:20px;
        }
        i{
            margin-left:10px;
        }
        a{
          color:#999;  
        }
        span{
           background:url(../img/country.png) no-repeat -138px -106px; 
            margin:0 20px 0 6px;
            padding-left:23px;
        }
    }
}
