@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.margin {
  margin: 0 auto;
  width: 1200px; }

header {
  height: 90px; }
  header #logo {
    float: left;
    margin-top: 28px; }
    header #logo img {
      width: 47px;
      height: 47px; }
    header #logo span {
      font: 700 36px/62px "宋体";
      color: #5c6767; }
  header #country {
    float: right;
    margin: 50px 18px 0 0;
    font: 14px/40px "";
    color: #a4a4a4; }
    header #country b {
      margin: 0 12px 0 14px; }
    header #country a {
      color: #a4a4a4; }
    header #country .help {
      text-decoration: none; }

section {
  width: 100%;
  height: 484px;
  border-top: 1px solid #eee;
  background: url(../img/loginBanner.jpg) no-repeat center -57px;
  position: relative; }
  section #login {
    width: 430px;
    height: 460px;
    background: #fff;
    position: absolute;
    right: 11px;
    top: 12px; }
    section #login .allLogin {
      margin: 0 24px; }
      section #login .allLogin p {
        font: 12px/20px "";
        color: red;
        height: 20px;
        width: 100%; }
      section #login .allLogin .title {
        display: flex;
        justify-content: space-between;
        flex-warp: warp;
        font: 18px/85px ""; }
        section #login .allLogin .title a {
          text-decoration: none;
          color: #52a7f3;
          font: 14px/85px ""; }
      section #login .allLogin input {
        margin-left: 5px;
        border: 0;
        font: 14px/22px "";
        color: #929292;
        width: 293px;
        height: 22px; }
      section #login .allLogin .input01 {
        width: 380px;
        height: 42px;
        border: 1px solid #ccc; }
        section #login .allLogin .input01 span {
          display: inline-block;
          width: 28px;
          height: 31px;
          background: url(../img/loginZhenghe.png) no-repeat;
          background-position: 10px 10px; }
      section #login .allLogin .input02 {
        width: 380px;
        height: 42px;
        border: 1px solid #ccc; }
        section #login .allLogin .input02 span {
          display: inline-block;
          width: 30px;
          height: 32px;
          background: url(../img/loginZhenghe.png) no-repeat;
          background-position: -190px 10px; }
      section #login .allLogin .input03 {
        width: 380px;
        height: 42px;
        border: 1px solid #ccc;
        font: 14px/42px ""; }
        section #login .allLogin .input03 i {
          display: inline-block;
          width: 35px;
          height: 24px;
          background: url(../img/loginZhenghe.png) no-repeat;
          background-position: -287px 10px; }
        section #login .allLogin .input03 input {
          width: 285px;
          height: 22px; }
        section #login .allLogin .input03 a {
          float: right;
          text-decoration: none;
          color: #52a7f3; }
      section #login .allLogin .yanzheng {
        float: left;
        width: 220px;
        height: 42px;
        border: 1px solid #ccc;
        font: 14px/42px ""; }
        section #login .allLogin .yanzheng i {
          display: inline-block;
          width: 30px;
          height: 28px;
          background: url(../img/loginZhenghe.png) no-repeat;
          background-position: -390px 10px; }
        section #login .allLogin .yanzheng input {
          margin-left: 5px;
          border: 0;
          font: 14px/22px "";
          color: #929292;
          width: 100px;
          height: 22px; }
      section #login .allLogin .huoqu {
        float: right;
        width: 145px;
        height: 42px;
        text-align: center;
        font: 14px/42px "";
        border: 1px solid #52a7f3; }
        section #login .allLogin .huoqu a {
          display: block;
          width: 145px;
          height: 42px;
          color: #52a7f3;
          text-decoration: none; }
      section #login .allLogin .xieyi {
        font: 14px/42px ""; }
        section #login .allLogin .xieyi input {
          width: 12px;
          height: 12px;
          margin-right: 5px;
          color: #666; }
        section #login .allLogin .xieyi a {
          color: #52a7f3; }
      section #login .allLogin .input04 input {
        width: 380px;
        height: 42px;
        font: 18px/42px "";
        color: #fff;
        background: #009de6; }
      section #login .allLogin .zhuce {
        margin-top: 80px;
        text-align: center;
        font: 16px/26px "";
        color: #969696; }
        section #login .allLogin .zhuce a {
          text-decoration: none;
          color: #52a7f3; }
      section #login .allLogin .qita {
        text-align: center; }
        section #login .allLogin .qita p {
          width: 330px;
          height: 1px;
          background: #dbdbdb;
          margin: 15px auto; }
        section #login .allLogin .qita span {
          display: block;
          width: 90px;
          height: 30px;
          background: #fff;
          font: 12px/24px "";
          color: #969696;
          margin: -27px auto 0; }
      section #login .allLogin .share {
        display: block;
        width: 257px;
        height: 34px;
        margin-left: 70px;
        background: url(../img/share.png) no-repeat center;
        background-position: 0 0; }

/*# sourceMappingURL=reg.css.map */
